<a href="https://colab.research.google.com/github/cyself82/Projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EC%8B%A4%EC%8A%B5-2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
a=10
print(a+20)
print(20-a)
print(20*a)
print(a/5)
print(a%5)
print(a*a*a)

30
10
200
2.0
0
1000

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:
#문제1
print(10+3*4)

#문제2
갯수=15
가격=1300000
print(갯수*가격)

#문제3
a=5
if(a%2==0): print('짝수')
else: print('홀수')

#문제1
a=2
b=5
c=3
print((a**3)*(b**4)*(3**4))

22
19500000
홀수
405000

In [ ]:
#문제1
print('10+3*4 =', 10+3*4)

#문제2
iphone=15
price=1300000
print('%d x %d = %d' % (iphone, price, iphone*price))
print(f'{iphone:<10}x{price}={iphone*price}')

#문제3
import random
number = random.randint(1,100) #1~100 임의의정수
if number&2==0:
  print(number,'짝수')
else:
  print(number,'홀수')

#문제1
a=2
b=5
c=3
print((a**3)*(b**4)*(3**4))

10+3*4 = 22
15 x 1300000 = 19500000
15        x1300000=19500000
75 홀수
405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a=input('숫자를 입력하세요:')

# 표준 출력
print(f'변수a의값:{a},{type(a)}')

숫자를 입력하세요:120
변수a의값:120,<class 'str'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
num1=int(input('첫번째숫자:'))
num2=int(input('두번째숫자:'))
print('-'*50)
print('덧셈: %d + %d = %d' % (num1, num2, num1+num2))
print('뺄셈: %d - %d = %d' % (num1, num2, num1-num2))
print('곱셈: %d * %d = %d' % (num1, num2, num1*num2))
print('몫: %d // %d = %d' % (num1, num2, num1//num2))
print('나머지: %f %% %f = %f' % (num1, num2, num1%num2))

첫번째숫자:50
두번째숫자:3
--------------------------------------------------
덧셈: 50 + 3 = 53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 = 150
몫: 50 // 3 = 16
나머지: 50.000000 % 3.000000 = 2.000000

- f'string' 함수를 이용해 출력하기

In [ ]:
num1=int(input('첫번째숫자:'))
num2=int(input('두번째숫자:'))
print('-'*50)
print(f'덧셈: {num1} + {num2} = {num1+num2}')
print(f'뺄셈: {num1} - {num2} = {num1-num2}')
print(f'곱셈: {num1} * {num2} = {num1*num2}')
print(f'몫:  {num1} // {num2} = {num1//num2}')
print(f'나머지: {num1} % {num2} = {num1%num2:.2f}')

첫번째숫자:50
두번째숫자:3
--------------------------------------------------
덧셈: 50 + 3 = 53
뺄셈: 50 - 3 = 47
곱셈: 50 * 3 = 150
몫:  50 // 3 = 16
나머지: 50 % 3 = 2.00

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = float(input('속력를 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))
print(f'속력:= {velocity} km/h')
print(f'거리:= {distance} km')
print(f'시간:{distance/velocity} h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 500
속력:= 100.0 km/h
거리:= 500.0 km
시간:5.0 h

- eval()함수 사50용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용

velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
time = eval(f'{distance}/{velocity}')
print(f'걸린시간은: {time}h =  {distance}km/{velocity}km/h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 500
걸린시간은: 5.0h =  500km/100km/h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math
a=-3.14
print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a) }')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4) }')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
#문제1: 반지름이 4인 원의 넓이 출력
#r=float(input('반지름의 길이를 입력하세요(r) : '))
print(f'반지름이 4인 원의넓이:= {4**2*3.14} cm2')

#문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(f'결과값 : {round(3.14*2/7)}')

#문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(2*3.14*4)

반지름이 4인 원의넓이:= 50.24 cm2
결과값 : 1
25.12

---------------------------

###★[실습문제] 정수(a) 를 입력 받아 a+aa+aaa 결과 출력하기

In [26]:
a=input('정수입력하세요')
print(f"(a)+(a*2)+(a*3)")
print (eval(f"{a}+{a*2}+{a*3}"))

정수입력하세요5
(a)+(a*2)+(a*3)
615

'## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [1]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('!') )
print( ord('가') )

65
33
44032

In [2]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
B
a
b
가
각

In [5]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기
    print( 이진수변환)  #원래 세 줄로 나옴 ???

0b1101001100001100 0b1101001100001100
0b1100011101110100 0b1100011101110100
0b1100001101101100 0b1100001101101100

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [9]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')
print(" \"yes, I can!\" ")

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"
 "yes, I can!"

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [10]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [12]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [15]:
# 주문받아 출력하기
print('카페 주문 프로그램 입니다.')
print('-'*50)
print(menu)
print('-'*50)
coffee=input('주문하실 음료를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게 드세요')

카페 주문 프로그램 입니다.
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요: 라떼
주문하신 음료 라떼가 나왔습니다. 맛있게 드세요

### 문자열 연산
- (+): 문자열 연결하기

In [17]:
print('hello'+'world')
print('hello','world')
print('7'+'7')
print(7+7)

helloworld
hello world
77
14

- (*) : 반복의 의미

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [19]:
print('Mary\'s cosmetics')
print('화면에 박씨가 소리질렀다. "도둑이야!".')
print(' "안녕하세요.\n오늘\t날씨가\t\t좋습니다."')

Mary's cosmetics
화면에 박씨가 소리질렀다. "도둑이야!".
 "안녕하세요.
오늘	날씨가		좋습니다."

-------------------

In [52]:
기사 ='''값어치 다이어리는 매일 나의 소비를 기록하고, 며칠이 지난 뒤에 그 지출을 다시 돌아보기 위한 기록장이에요. 노트에 소비 내용 / 지출 금액 / n일 후에 평가한 값어치 / 평가 이유를 적는 거죠.'''
a='''나는 나비.
너는 꽃'''
print(기사)
print(a)
result = 기사.split(' ')
print(result)

값어치 다이어리는 매일 나의 소비를 기록하고, 며칠이 지난 뒤에 그 지출을 다시 돌아보기 위한 기록장이에요. 노트에 소비 내용 / 지출 금액 / n일 후에 평가한 값어치 / 평가 이유를 적는 거죠.
나는 나비.
너는 꽃
['값어치', '다이어리는', '매일', '나의', '소비를', '기록하고,', '며칠이', '지난', '뒤에', '그', '지출을', '다시', '돌아보기', '위한', '기록장이에요.', '노트에', '소비', '내용', '/', '지출', '금액', '/', 'n일', '후에', '평가한', '값어치', '/', '평가', '이유를', '적는', '거죠.']

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

---------------------------

In [36]:
fname = input('파일명을 입력하세요:')
print(f'입력한파일: {fname}')
a=fname.split(',')
print(f'파일명: {a[0]},확장자:{a[1]}')

파일명을 입력하세요:안녕.txt
입력한파일: 안녕.txt

IndexError: ignored

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [41]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

meal_price = meal*(1+tax)
total = meal_price *(1+tip)
print(total)

5462.931249999999

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [46]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

c_temp = input('현재 온도를 입력하세요(섭씨):')
f_temp =(9 / 5) * float(c_temp) + 32
print(f'화씨로 변환하면? {f_temp}')

현재 온도를 입력하세요(섭씨):30
화씨로 변환하면? 86.0

In [44]:
c_temp = input('섭씨 온도 입력 : ')
c_temp = int(c_temp)
print(c_temp, type(c_temp))
f_temp = (9/5)*c_temp+32
print(f'화씨 온도: {f_temp}')

섭씨 온도 입력 : 32
32 <class 'int'>
화씨 온도: 89.6

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [47]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')

print(f"500원짜리(갯수):{money//500} 개")
money = money%500
print(f"100원짜리(갯수):{money//100} 개")
money = money%100
print(f"50원짜리(갯수):{money//50} 개")
money = money%50
print(f"10원짜리(갯수):{money//10} 개")
money = money%10
print(f"잔돈: {money} 원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 15320
동전으로 교환하겠습니다.---------
500원짜리(갯수):30 개
100원짜리(갯수):3 개
50원짜리(갯수):0 개
10원짜리(갯수):2 개
잔돈: 0 원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [48]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [49]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [50]:
print(list(range(10))) #0이상 10 미만

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 리스트 삭제

In [ ]:
del(b)

print(a)
print(b)

### 리스트 요소에 접근

In [ ]:
print( a[1] )
print( a[2] )
print( a[2][1] )
# '파이썬'을 출력하려면?

### 리스트 요소 추가 / 변경

In [59]:
#print(a)
#a.append('봄')     # 리스트 맨 끝에 추가
#print(a)
#a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
#print(a)

colors =['green', 'pink', ['yellow', 'white'], 'lightblue']
colors[1] = 'pink'
print (colors)

['green', 'pink', ['yellow', 'white'], 'lightblue']

### 리스트 요소 삭제

In [ ]:
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)

In [63]:
import random
numbers = list()
numbers = []

#1~100까지 정수 중에 임의로 하나 뽑아서 리스트에 추가하기
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(f'정렬전: {numbers}')

numbers.sort()
print(f'정렬후: {numbers}')

numbers.reverse()
print(f'리버스: {numbers}')

정렬전: [95, 14, 94, 56, 87, 68]
정렬후: [14, 56, 68, 87, 94, 95]
리버스: [95, 94, 87, 68, 56, 14]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [65]:
member = {} #빈딕셔너리
members = dict() #빈딕셔너리
print(type(members),members)


members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(members)
print(members['age'])
print(member.get('get'))
members[7] = ['정국', '뷔','지민'] #새로운 키와 값 추
print(members)

<class 'dict'> {}
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
None
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [69]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    #print('%s => %s' % (key, scores[key]))
    print(f'{key} => {scores[key]}')
#(키, 값) 요소를 갖는 리스트 형태로 반환하는 함수
print(scores.items())

# # 방법2
# print('---방법2---')
# for (key, value) in scores.items():
#     print('%s => %s' % (key, value))
#print(f'{key} => {value}')

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

In [70]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 값만 추출
print(scores.items())  # (키,값)쌍 형태로 추출 --> 튜플형태

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [71]:
# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'])
print(scores)

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, 'music': 100}

In [73]:
a = tuple()
a=()
print(type(a))

a= (1, ) #튜플에 요소 1개를 정의할 떄는 반드시 , 사용
print(type(a), a)

a = (1,2,3,4,5)
print(type(a), a)

print(a[3])
print(a[:3])

#a[3] = 44 같은건 오류난다 튜플요소 변경 및 추가 불가,인덱스 슬라이싱 불

<class 'tuple'>
<class 'tuple'> (1,)
<class 'tuple'> (1, 2, 3, 4, 5)
4
(1, 2, 3)

------------------------
###집합(set)

In [74]:
a=set()
a=set("Hello")
print(type(a),a)

<class 'set'> {'e', 'o', 'H', 'l'}

In [75]:
#중복제거
fruits = ['사과', '바나나', '배','사과'] #()로 닫으면 튜
a=list(set(fruits))
a.sort()
print(a)

['바나나', '배', '사과']

끝